<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../style.css">
    <link rel="stylesheet" href="/public/css/login.css">
    <script src="https://kit.fontawesome.com/6f38fb86b9.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&family=Roboto&display=swap" rel="stylesheet">
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <title>Chat</title>
  </head>
<body>

  <script src="js/jQuery.js"></script>
  <script src="js/socket.io.js"></script>

  <%- include('./partials/header.ejs')%>
  <div class="welcome">
    Hi! <%= name.toUpperCase() %>
    <a href="/logout">Logout</a>
    <% for(var i=0; i!=users.length; i++) { %>
      <% if(users[i].username != name)continue; %>
        <% if(users[i].image% != '') %>
          <img src="./uploads/<%= users[i].image%>" alt="profile-image" width="100px">
               
    <% } %>  
  </div>
  <main>
    <div class="user">
      <div class="profile">
        <div class="profile-pic"></div>
        <div class="user-name">
          <p id="logged-user"><%= name %></p>
        </div>
      </div>
      <div class="all-user">
        <h3>All Users</h3>
          <ul id="all-users">
              <% for(var i=0; i!=users.length; i++) { %>
                <% if(users[i].username == name)continue; %>
                  <button class="user-connected"><b><%= users[i].username %></b></button>
                  <% if(users[i].image% != '') %>
                    <img src="./uploads/<%= users[i].image%>" alt="profile-image" width="50px">
              <% } %>
          </ul>
      </div>
    </div>    
    <div class="receiver">
      <div id="receiver-profile">
        <p>Please Select a user</p>
      </div>
      <div>
        <ul id="chat-messages">

        </ul>  
      </div>
      <form id="sendMessageForm" style="display: none;">
        <input type="text" id="message" placeholder="Enter message">
        <input id="sendMessage" type="submit" value="   ->">
      </form>
    </div>
  </main>

  <script>
    let ioi = io();
    let receiver = '';
    let sender = document.getElementById('logged-user').innerText;
    
    ioi.emit("user_connected");

    let userConnected = document.querySelectorAll('.user-connected')
    for(let i=0; i<userConnected.length; i++){
      userConnected[i].addEventListener('click', function(){
        document.getElementById('sendMessageForm').style.display = "block";
        receiver = userConnected[i].innerText;
        document.getElementById('receiver-profile').innerHTML = "<b>"+receiver+"</b>";
        ioi.emit('receiverRequest', {receiver, sender});
        ioi.on('receiverResponse', function(data){
          document.getElementById('chat-messages').innerHTML ="";
          for(let j=0; j<data.length; j++){
            if(data[j].sender == document.getElementById('logged-user').innerText){
              document.getElementById('chat-messages').innerHTML+='<li class="right">'+data[j].sendmessage+'</li><br>';
            }
            else{
              document.getElementById('chat-messages').innerHTML+='<li class="left">'+data[j].sendmessage+'</li><br>';
            }
          }
        });
      })
    }
    document.getElementById('sendMessage').addEventListener('click', function(event){
        event.preventDefault();
        sendMessage();
      });
    function sendMessage(){
      //get message
      let message = document.getElementById('message').value;
      document.getElementById('message').value = '';
      //send message to server
      ioi.emit("send_message",{
        sender: sender,
        receiver: receiver,
        message: message
      })
    }
      //listen from server
    ioi.on("new_message", function(data){
      if(receiver!=''){
        if(data.sender == document.getElementById('logged-user').innerText)
          document.getElementById('chat-messages').innerHTML += "<li class='right'><b>"+data.message+"</b></li><br>";
        else
          document.getElementById('chat-messages').innerHTML += "<li class='left'><b>"+data.message+"</b></li><br>";
      }
    })
  </script>
</body>
</html>
